// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.red {
    background-color: #FC6868;
}

.orange {
    background-color: #FC843D;
}

.yellow {
    background-color: #FCE03D;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.column {
    vertical-align: top;
    display: inline-block;
    margin: 10px auto 0 auto;
    width: 32%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    // background-color: #eee;
    border-radius: 6px;
    border: 1px solid blue;
    // padding: 60px;
}

.dataView {
    margin: 0 auto;
    width: 80%;
    border-top: 1px solid #6C6868;

        .button {
            margin: 5px;
            padding: 5px;
            width: 75px;
            height: 30px;
            background-color: #74539D;
            border-radius: 6px;
            color: white;

        }
}

.properties {
    display: inline-block;
}

.button-div {
    display: inline-block;
    margin: 5px;
}


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
